.btn-purple {
    color: #fff;
    background-color: #462c6c;
    border-color: #462c6c;
    margin-right: 2px !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
}


.bg-purple {
    background-color: #462c6c;
}


.modal-header {
    background-color: rgba(0,0,0,.03)!important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.modal-footer {
    background-color: rgba(163, 105, 105, 0.03)!important;
    border-top: 1px solid rgba(0,0,0,.125);
}

.img-card {
    width: auto;
    height: 31px;
    margin-right: 2px !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    margin-left: 2px !important;
}

.tooltip-inner {
    background-color: #FFF;
    color: #000;
    border: 1px solid RGB(128,128,128);
    box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 1)
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: RGB(128,128,128) !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: RGB(128,128,128) !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: RGB(128,128,128) !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: RGB(128,128,128) !important;
}

/* Add shadows to create the "card" effect */
.card { 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  background: #462c6c;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin:20px auto;
  color: #462c6c;
  text-indent: -9999em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}
